/*.table {*/
/*    display: table;*/
/*}*/


table.test{
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}


table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
    /*border: 1px dotted blue;*/
}

/*th,td {*/
/*    border: 1px solid black;*/
/*}*/

table.c {

    table-layout: auto;
    width: 100%;
    border: 1px solid darkred;
    border-collapse: collapse;
    /*text-align: center;*/


    /*line-height: 25vh;*/
    /*margin: 0 auto;*/
    /*margin: 0 auto;*/
}

#data tr {
    display: none;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

body.parcelsOfCustomers {

    background-color: #ffd884;
    margin-top: 250px; !important;
    margin-bottom: 150px;

}

body.login {
    background-image: url("http://www.commbank.com.au/content/dam/commbank/assets/commbank-cards/images/2-clm-gdnc/woman-on-phone-commbank-app-2clm.jpg") ;
    background-color: #ffffff;
    text-align: center;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.register {
    background-image: url("https://www.groovypost.com/wp-content/uploads/2020/03/digital-payments-wallet-venmo-paypal-featured-1000x450.jpg");
    background-color: #fefdff;
    text-align: center;


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2.text-white {
    color: white;
}

label.text-white {
    color: white;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
    width: 8%;

    /*height: 30%;*/
}

.row.flex {
    justify-content: center;
    display: flex; !important
    /*height: 30%;*/
}

.cell {
    display: table-cell;
    width: 8%;
    /*border: 1px solid black;*/
    /*border: 1px dotted blue;*/
    border: 1px solid darkred;

    text-align: center;
    /*color: blue;*/
    /*background-color: green;*/

    /*line-height: 25vh;*/
    /*margin: 0 auto;*/
}

/* unvisited link */
a:link {
    color: darkblue;

    /*text-decoration: none;*/
    /*text-decoration: underline;*/
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: red;
}

.error {
    color: red;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.parcels-search-container {

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.users-search-container {

    display: flex;
    justify-content: center;
    align-items: baseline;
}

/*.img{*/
/*    display:block;*/
/*    max-width: 40%;*/
/*    height: auto;*/
/*}*/
.img-fluid {

    display: flex;
    max-width: 100%;
    max-height: 100%;
}

#img {
    /*border-radius: 50%;*/
    display: block;
    /*margin: 0 auto;*/
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    height: auto;
    text-align: center;
}


.shipments.filters {

    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid darkred;


    border-inline-end-width: 1px;
    border-radius: 0;


}

#inp {
    text-align: center;
    margin: auto;
    /*display: flex;*/
    /*align-items: center;*/
}