<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Access Denied</title>



  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>



</head>

<div th:replace="navbar-customer"></div>

<body style="background-color: #fcfcfc; text-align: center">

<div id="img">

  <img th:src="@{https://1.bp.blogspot.com/-RSJ39ne62x4/W61BBPbJBoI/AAAAAAAAAOU/MZQHb1xrA6IpGvp2kEhUmT_1SmBInglywCLcBGAs/s1600/Get-SPNote-AccessDenied.jpg}"/>
</div>

<h2 th:text="#{error.access-denied}">Access Denied</h2>
<h3 class="error" th:text="${error}">Error placeholder</h3>
</body>
</html>