<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Invalid Token!</title>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
<link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>


</head>
<body style="background-color: #fcfcfc; text-align: center">
<h1 th:text="${param.message[0]}">Error Message</h1>
    <a th:href="@{/registration.html}"
th:text="#{label.form.loginSignUp}"> signup</a>
</body>
</html>