<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Cards</title>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="../static/css/styles.css" th:href="@{/css/datatables.css}" rel="stylesheet"/>
  <!--    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>-->
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/5.1.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <!--    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>-->
  <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.datatables.min.css}">
  <script th:src="@{https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>

</head>

<body style="background-color: #fcfcfc; text-align: center">


<div th:replace="navbar-admin"></div>


<div th:if="${cards.isEmpty()}">
  <h2 th:text="#{cards.title.empty}">No Cards</h2>
</div>
<div th:unless="${cards.isEmpty()}">
  <h2 th:text="#{cards.title}">All Cards</h2>
</div>

  <br/><br/>


  <div id="img">
    <img th:src="@{https://www.actsmart.biz/uploaded_images/general/payment-cards.png}"/>
  </div>

  <br/><br/>
  <table id="dt-filter-search" class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th class="th-sm" th:text="#{card.label.cardID}">
      </th>
      <th class="th-sm" th:text="#{card.label.cardNumber}">
      </th>
      <th class="th-sm" th:text="#{card.label.expirationDate}">
      </th>
      <th class="th-sm" th:text="#{card.label.cardHolder}">
      </th>
      <th class="th-sm" th:text="#{card.label.checkNumber}">
      </th>
      <th class="th-sm" th:text="#{card.label.userID}">
      </th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cards}">
      <td>
       <a href="#" th:href="@{/cards/{id}(id=${card.getCardID()})}" th:text="${card.getCardID()}">
        </a>
      </td>
      <td class="cell" th:text="${card.getCardNumber()}"></td>
      <td class="cell" th:text="${card.getExpirationDate()}"></td>
      <td class="cell" th:text="${card.getCardHolder()}"></td>
      <td class="cell" th:text="${card.getCheckNumber()}"></td>
      <td class="cell" th:text="${card.getUser().getUserID()}"></td>
    </tr>
    </tbody>
  </table>

  <script>

    $(document).ready(function () {
      $('#dt-filter-search').dataTable({

        initComplete: function () {
          this.api().columns().every(function () {
            var column = this;
            var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
                    .appendTo($(column.footer()).empty())
                    .on('change input', function () {
                      var val = $(this).val()

                      column
                              .search(val ? val : '', true, false)
                              .draw();
                    });

          });
        }
      });
    });
  </script>


</body>



</html>