<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Card form fragment</title>
</head>


<body>

<form th:fragment="card-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${cardDto}" method="post">

    <label th:text="#{card.label.cardNumber}">Card number</label>
    <br/>
    <input type="text" th:field="*{cardNumber}"/>
    <br>
    <label class="error" th:errors="*{cardNumber}">Card number error placeholder</label>
    <br/><br/>


    <label th:text="#{card.label.expirationDate}">expirationDate ID</label>
    <br/>
    <input type="text" th:field="*{expirationDate}"/>
    <br>
    <label class="error" th:errors="*{expirationDate}">expirationDate error placeholder</label>
    <br/><br/>


    <label th:text="#{card.label.cardHolder}">cardHolder</label>
    <br/>
    <input type="text" th:field="*{cardHolder}"/>
    <br>
    <label class="error" th:errors="*{cardHolder}">cardHolder error placeholder</label>
    <br/><br/>

    <label th:text="#{card.label.checkNumber}">checkNumber</label>
    <br/>
    <input type="text" th:field="*{checkNumber}"/>
    <br>
    <label class="error" th:errors="*{checkNumber}">checkNumber error placeholder</label>

    <br/><br/>

    <input type="submit" value="Save" class="btn-outline-success"/>

</form>

</body>

</html>