<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card update</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:if="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
    <div th:replace="navbar-admin"></div>
</div>

<div th:unless="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
    <div th:replace="navbar-customer"></div>
</div>

<body style="background-color: #fcfcfc; text-align: center">

<h2>Edit Card</h2>

<br/><br/>


<form th:replace="card-form.html :: card-form"></form>


<br/><br/>


</body>
</html>