<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Card</title>

    <title th:text="${card.getCardID()}">Card #</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:if="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
    <div th:replace="navbar-admin"></div>
</div>

<div th:unless="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
    <div th:replace="navbar-customer"></div>
</div>


<body style="background-color: #fcfcfc; text-align: center">

<div id="img">
    <img th:src="@{https://130e178e8f8ba617604b-8aedd782b7d22cfe0d1146da69a52436.ssl.cf1.rackcdn.com/report-offers-recommendations-on-securing-digital-payments-showcase_image-9-a-11016.jpg}"/>
</div>

<br/><br/>

<form action="#" th:action="@{/cards/{id}/update(id=${card.getCardID()})}" method="post">

    <table class="c">

        <tr>
            <td>Card ID :</td>
            <td th:text="${card.getCardID()}">"</td>
        </tr>

        <tr>
            <td>Card Type :</td>
            <td th:text="${card.getCardType()}">"</td>
        </tr>

        <tr>
            <td>Card Number :</td>
            <td th:text="${card.getCardNumber()}">"</td>
        </tr>

        <tr>
            <td>Expiration Date :</td>
<!--            <td th:text="${card.getExpirationDate()}">"</td>-->
            <td th:text="${#calendars.format(card.getExpirationDate(),'dd-MM-yyyy')}">"</td>
        </tr>

        <tr>
            <td>Card Holder :</td>
            <td th:text="${card.getCardHolder()}">"</td>
        </tr>

        <tr>
            <td>Check Number :</td>
            <td th:text="${card.getCheckNumber()}">"</td>
        </tr>

        <tr>
            <td>User ID :</td>
            <td th:text="${card.getUser().username}">"</td>
        </tr>


    </table>

    <br/>


    <input type="submit" name="delete" value="Delete"
           th:formaction="@{/cards/{id}/delete(id=${card.getCardID()})}" class="btn-outline-danger"/>

</form>

<br/><br/>

</body>
</html>