<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer form fragment</title>
</head>

<body>

<form th:fragment="customer-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${customerUpdateDto}" method="post">

        <label class="text-white" th:text="#{user.label.username}">Username</label>
        <br/>

        <input type="text" th:field="*{username}"/>
        <br/><br/>

        <label class="text-white" th:text="#{user.label.email}">Email</label>
        <br/>
        <input type="text" th:field="*{email}"/>
        <br/>
        <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error placeholder</label>
        <br/><br/>

        <label class="text-white" th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <br/>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <br/><br/>

        <label class="text-white" th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <br/>
        <label class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
        <br/><br/>

        <label class="text-white" th:text="#{user.label.phone}">Phone number</label>
        <br/>
        <input type="text" th:field="*{phoneNumber}"/>
        <br/>
        <label class="error" th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="*{phoneNumber}">Phone number error placeholder</label>
        <br/><br/>

        <button type="submit" class="btn btn-success">Update</button>

        <br/><br/>
        <br/><br/>

    </form>

</body>

</html>