<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Wallet</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-customer"></div>


<body style="background-color: #fcfcfc; text-align: center">


<div id="img" style="size: A3">
    <img th:src="@{https://static.wixstatic.com/media/1a61b7_bd7a35c5b6a24f499ffa54a29f604129~mv2.png/v1/fill/w_1024,h_600,al_c,q_90,usm_0.66_1.00_0.01/ewallet.webp}"/>
</div>


<br/><br/>

<table class="c">

    <tr>
        <td>Wallet ID :</td>
        <td th:text="${wallet.getWalletID()}">"</td>
    </tr>

    <tr>
        <td>User ID :</td>
        <td th:text="${wallet.getUser().getUserID()}">"</td>
    </tr>

    <tr>
        <td>Current Amount :</td>
        <td th:text="${#numbers.formatCurrency(wallet.getTotalAmount())}"></td>
    </tr>

</table>

<br/>

<div>
    <div th:if="${customer.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).VERIFIED
           && customer.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ACTIVE}">

        <form action="#" th:action="@{/wallets/{id}/deposit(id=${wallet.getWalletID()})}" method="get">
            <input type="submit" name="update" value="Add Funds"
                   th:formaction="@{/wallets/{id}/deposit(id=${wallet.getWalletID()})}" class="btn-outline-success"/>
            <input type="submit" name="update" value="New Transaction" th:formaction="@{/transactions/new}"
                   class="btn-outline-success"/>
        </form>
    </div>
</div>

<br/>

<div th:if="${customer.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).NOT_VERIFIED}">
    <h5 style="color: red">If you want to be able to send and/or receive funds,open the email from HiM Virtual Wallet
        and confirm your registration!</h5>
    <br/>
</div>

<br/><br/>

</body>
</html>