<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Cards</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

</head>

<body style="background-color: #fcfcfc; text-align: center">

<div th:replace="navbar-customer"></div>

<div th:if="${customerCards.isEmpty()}">
    <h2 th:text="#{cards.title.empty}">No Cards</h2>
</div>
<div th:unless="${customerCards.isEmpty()}">
    <h2 th:text="#{cards.title}">All Cards</h2>

    <br/><br/>


    <div id="img">
        <img th:src="@{https://www.actsmart.biz/uploaded_images/general/payment-cards.png}"/>
    </div>

    <br/><br/>


    <div class="table" >

        <div class="header">
            <div class="cell" th:text="#{card.label.cardID}"> Card ID</div>
            <div class="cell" th:text="#{card.label.cardType}"> Card type</div>
            <div class="cell" th:text="#{card.label.cardNumber}">Card number</div>
            <div class="cell" th:text="#{card.label.expirationDate}">Expiration date</div>
            <div class="cell" th:text="#{card.label.cardHolder}">Card holder</div>
            <div class="cell" th:text="#{card.label.checkNumber}">Check number</div>
            <div class="cell" th:text="#{card.label.username}">User ID</div>
        </div>


        <div class="row" th:each="card : ${customerCards}">
            <div class="cell">
                <a href="#" th:href="@{/cards/{id}(id=${card.getCardID()})}" th:text="${card.getCardID()}">Card #</a>
            </div>
            <div class="cell" th:text="${card.getCardType()}"></div>
            <div class="cell" th:text="${card.getCardNumber()}"></div>
            <div class="cell" th:text="${card.getExpirationDate()}"></div>
            <div class="cell" th:text="${card.getCardHolder()}"></div>
            <div class="cell" th:text="${card.getCheckNumber()}"></div>
            <div class="cell" th:text="${card.getUser().getUsername()}"></div>
        </div>
    </div>

</div>

<br/>

<div>
    <form method="post" th:action="@{cards/new}" th:object="${cardDto}">
        <input type="submit"  value="Add New Card" class="btn-outline-success">
    </form>
</div>

<br/><br/>

</body>



</html>