<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <title th:text="${user.getUsername()}">Username</title>
    <title th:text="${user.getEmail()}">Email</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

</head>

<div th:replace="navbar-customer"></div>

<body style="background-color: #fcfcfc; text-align: center">

<div id="img">
    <img th:src="${user.getPhotoUrl()}" width="500" height="400">
</div>

<br/><br/>

<div th:if="${message}">
    <h4 th:text="${message}"/>
</div>

<br/>
<div>
    <form method="POST" enctype="multipart/form-data" action="#" th:action="@{/users/uploads}">
        <table id="inp" style="text-align: center">
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<br/><br/>

<table class="c">
    <tr>
        <td>ID :</td>
        <td th:text="${user.getUserID()}">"</td>
    </tr>
    <tr>
        <td>Username :</td>
        <td th:text="${user.getUsername()}">"</td>
    </tr>
    <tr>
        <td>Email :</td>
        <td th:text="${user.getEmail()}">"</td>
    </tr>
    <tr>
        <td>Phone Number :</td>
        <td th:text="${user.getPhoneNumber()}">"</td>
    </tr>
    <tr>
        <td>Cards :</td>
        <td>
            <a href="#" th:href="@{/cards}" th:text="#{cards.customers}"></a>
        </td>
    </tr>

</table>

<br/>


<form>
    <input type="submit" name="update" value="Update Details"
           th:formaction="@{/users/{id}/update-account(id=${user.getUserID()})}" class="btn-outline-success"/>

    <input type="submit" name="add" value="Register Debit/Credit Card" th:formaction="@{/cards/new}"
           class="btn-outline-success"/>


<div th:if="${user.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).NOT_VERIFIED}">

    <h5 style="color: red">If you want to be able to send and/or receive funds, open the email from HiM Virtual Wallet
        and confirm your registration!</h5>

</div>
</form>

<br/><br/>


<!--<div>-->
<!--    <form action="#" th:action="@{/users/{id}/update-account(id=${user.getUserID()})}" method="post">-->
<!--        <input type="submit" name="update" value="Update" class="btn-outline-success"/>-->
<!--    </form>-->
<!--</div>-->

<!--<br/>-->

<!--<div>-->
<!--    <form action="#" th:action="@{/cards/new}" method="post">-->
<!--        <input type="submit" name="add" value="Register Debit/Credit Card" class="btn-outline-success"/>-->
<!--    </form>-->
<!--</div>-->

<!--<br/><br/>-->

<!--<div th:if="${user.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).NOT_VERIFIED}">-->

<!--    <h5 style="color: red">If you want to be able to send and/or receive funds, click below to get verified!</h5>-->

<!--    <br/>-->

<!--    <form action="#" th:action="@{/users/verification}" method="get">-->
<!--        <input type="submit" name="update" value="Get Verified" class="btn-outline-success"/>-->
<!--    </form>-->
<!--</div>-->

<br/>

</body>

</html>