<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer update</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-customer"></div>

<body style="background-color: #ade2d7; text-align: center">

<h2>Update details</h2>

<br/><br/>


<form th:replace="customer-form.html :: customer-form" style="text-align: center" ></form>


<br/><br/>

<br/><br/>

</body>
</html>