<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Deposit form fragment</title>
</head>

<body>

<form th:fragment="deposit-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${depositDto}" method="post">

    <label th:text="#{card.label.cardNumber}">Card number</label>
    <br/>

    <select th:field="*{cardNumber}">
        <option selected value="-1">Choose card</option>
        <option th:each="card: ${cards}"
                th:value="${card.getCardNumber()}"
                th:text="${card.getCardNumber()}" >
        </option>
    </select>
    <br>
    <label class="error" th:errors="*{cardNumber}">Card number error placeholder</label>
    <br/><br/>

    <label th:text="#{card.label.checkNumber}">checkNumber</label>
    <br/>
    <input type="text" th:field="*{checkNumber}"/>
    <br>
    <label class="error" th:errors="*{checkNumber}">checkNumber error placeholder</label>
    <br/><br/>

    <label th:text="#{wallet.label.depositSum}">depositSum</label>
    <br/>
    <input type="text" th:field="*{depositSum}"/>
    <br>
    <label class="error" th:errors="*{depositSum}">checkNumber error placeholder</label>

    <br/><br/>
    <input type="submit" value="Deposit" class="btn-outline-success"/>

</form>

</body>

</html>