<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Insufficient funds</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-customer"></div>

<body style="background-color: #fcfcfc; text-align: center">

<h3 style="color: red">You do not have enough funds to complete this transaction!</h3>

<br/>

<div id="img">
    <img th:src="@{https://www.kindpng.com/picc/m/106-1061821_empty-wallet-cartoon-png-no-money-in-wallet.png}"
         width="300" height="400"/>
</div>


<a th:href="@{/wallets/{id}/deposit(id=${wallet.getWalletID()})}">
    <button>Add Funds</button>
</a>


</body>
</html>