<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

</head>


<body class="login" style="background-color: #fcfcfc; text-align: center">

<h2 class="text-white">Login</h2>

<br/>

<form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

  <label class="text-white" th:text="#{user.label.username}">Username</label>
  <br/>
  <input type="text" th:field="*{username}"/>
  <br>
  <label class="error" th:errors="*{username}">Username error placeholder</label>
  <br/>

  <label class="text-white" th:text="#{user.label.password}">Password</label>
  <br/>
  <input type="password" th:field="*{password}"/>
  <br>
  <label class="error" th:errors="*{password}">Password error placeholder</label>

  <br/>

  <button type="submit" class="btn btn-success">Login</button>


  <br/><br/>
  <br/><br/>

  <h5 class="text-white">Still not a member? Click below to register!</h5>

  <br/>

    <h3><a type="button" class="btn btn-register" th:href="@{/auth/register}" style="color: white">Register</a></h3>




</form>
</body>
</html>