<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar-Home</title>
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top" th:href="@{/}"><img src="https://gitlab.com/h-m-project-group/deliverit-web-project/-/raw/main/Images/HiM_Logo_raw.jpg" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="#portfolio">SOMETHING ELSE</a></li>-->
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#login" th:href="@{/auth/login}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="#register" th:href="@{/auth/register}">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>