<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-home"></div>

<body style="background-color: #fcfcfc; text-align: center">

<div id="img">
    <img th:src="@{https://drudesk.com/sites/default/files/2018-02/404-error-page-not-found.jpg}" width="700" height="400"/>
</div>


<h2 th:text="#{error.not-found}">Page Not Found</h2>
<h3 class="error" th:text="${error}">Error placeholder</h3>

</body>

</html>