<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />

  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>


</head>

<div th:replace="navbar-home"></div>


<body class="register" style="background-color: #fcfcfc; text-align: center">


<h2 class="text-white">Register</h2>

<form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">



  <label class="text-white" th:text="#{user.label.username}">Email</label>
  <br/>
  <input type="text" th:field="*{username}"/>
  </br>
  <label class="error" th:errors="*{username}">Username error placeholder</label>
  <br/><br/>



  <label class="text-white" th:text="#{user.label.email}">Email</label>
  <br/>
  <input type="text" th:field="*{email}"/>
  </br>
  <label class="error" th:errors="*{email}">Email error placeholder</label>
  <br/><br/>



  <label class="text-white" th:text="#{user.label.password}">Password</label>
  <br/>
  <input type="password" th:field="*{password}"/>
  </br>
  <label class="error" th:errors="*{password}">Password error placeholder</label>
  <br/><br/>


  <label class="text-white" th:text="#{user.label.password-confirm}">Confirm Password</label>
  <br/>
  <input type="password" th:field="*{passwordConfirm}"/>
  </br>
  <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
  <br/><br/>

  <label class="text-white" th:text="#{user.label.phone}">Phone number</label>
  <br/>
  <input type="text" th:field="*{phoneNumber}"/>
  </br>
  <label class="error" th:errors="*{phoneNumber}">Phone number error placeholder</label>
  <br/><br/>


  <button type="submit" class="btn btn-success">Register</button>

  <br/><br/>
  <br/><br/>

</form>
</body>
</html>