<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm transaction</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

</head>

<div th:replace="navbar-customer"></div>
<body style="background-color: #ade2d7; text-align: center">

<h2>Create New Transaction</h2>

<br/><br/>

<form action="#" th:action="@{/transactions/new}" th:object="${transactionDto}" method="post">
    <table class="c">

        <tr>
            <td>Recipient:</td>
            <td th:text="${transactionDto.getUsername()}">"</td>
        </tr>

        <tr>
            <td>Amount :</td>
            <td th:text="${transactionDto.getTransferSum()}">"</td>
        </tr>

    </table>
    <input type="submit" value="Save" class="btn-outline-success"/>
</form>

<form action="#" th:action="@{/transactions/new}" th:object="${transactionDto}" method="get">
    <input type="reset" value="Update" class="btn-outline-success"/>
</form>
<br/><br/>

</body>
</html>