<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/datatables.css}" rel="stylesheet"/>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/5.1.2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <!--    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>-->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.datatables.min.css}">
    <script th:src="@{https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>;

</head>

<body style="background-color: #fcfcfc; text-align: center">

<div th:replace="navbar-customer"></div>

<div th:if="${customerTransactions?.isEmpty()}">
    <h2 th:text="#{transactions.title.empty}">No Transactions</h2>
</div>
<div th:unless="${customerTransactions?.isEmpty()}">
    <h2 th:text="#{transactions.title}">All Transactions</h2>
</div>
<br/>

<table id="dt-filter-search" class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm" th:text="#{transaction.label.transactionID}">Transaction ID
        </th>
        <th class="th-sm" th:text="#{transaction.label.sender}">Sender
        </th>
        <th class="th-sm" th:text="#{transaction.label.recipient}">Recipient
        </th>
        <th class="th-sm" th:text="#{transaction.label.amount}">Amount
        </th>
        <th class="th-sm" th:text="#{transaction.label.type}">Type
        </th>
        <th class="th-sm" th:text="#{transaction.label.date}">Type
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${customerTransactions}">
        <td>
            <a href="#" th:href="@{/transactions/{id}(id=${transaction.getTransactionID()})}"
               th:text="${transaction.getTransactionID()}">
            </a>
        </td>

        <td class="cell" th:text="${transaction.getSender().getUsername()}"></td>
        <td class="cell" th:text="${transaction.getRecipient().getUsername()}"></td>
        <td class="cell" th:text="${#numbers.formatCurrency(transaction.getTransferSum())}"></td>
        <td class="cell" th:text="${transaction.getTransactionType().name()}"></td>
        <td class="cell" th:text="${transaction.getDate()}"></td>
    </tr>
    </tbody>
</table>
<script>

    $(document).ready(function () {
        $('#dt-filter-search').dataTable({

            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change input', function () {
                            var val = $(this).val()

                            column
                                .search( val ? val : '', true, false )
                                .draw();
                        } );

                } );
            }
        });
    });
</script>

<div th:if="${customer.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).VERIFIED
           && customer.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ACTIVE}">

    <form method="get" th:action="@{transactions/new}" th:object="${transactionDto}">
        <input class="paginate_button" type="submit" value="New Transaction">
    </form>
</div>

<div th:if="${customer.getVerificationType() == T(him.virtualwallet.enums.VerificationTypeEnum).NOT_VERIFIED}">

    <h5 style="color: red">If you want to be able to send and/or receive funds, open the email from HiM Virtual Wallet and confirm your registration!</h5>

    <br/>
</div>
</br>
</br>

</body>
</html>
