<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title th:text="${transactionDto.getTransactionID()}">Transaction ID: </title>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>


<div th:if="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
  <div th:replace="navbar-admin"></div>
</div>

<div th:unless="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
  <div th:replace="navbar-customer"></div>
</div>


</head>

<body style="background-color: #fcfcfc; text-align: center">
<div id="img">

  <img th:src="@{https://m.economictimes.com/thumb/msid-64230667,width-1200,height-900,resizemode-4,imgsize-28918/mobile-transaction-thinksto.jpg}"
  width="600" height="400"/>
</div>


<br/><br/>

  <table class="c">

    <tr>
      <td>Transaction ID:</td>
      <td th:text="${transactionDto.getTransactionID()}">"</td>
    </tr>

    <tr>
      <td>Sender:</td>
      <td th:text="${transactionDto.getSender()}">"</td>
    </tr>

    <tr>
      <td>Recipient:</td>
      <td th:text="${transactionDto.getRecipient()}">"</td>
    </tr>

    <tr>
      <td>Amount :</td>
      <td  th:text="${#numbers.formatCurrency(transactionDto.getTransferSum())}"></td>
    </tr>

    <tr>
      <td>Date:</td>
      <td th:text="${transactionDto.getDate()}">"</td>
    </tr>

  </table>

  <br/>

<div th:unless="${user.getUserStatus() == T(him.virtualwallet.enums.UserStatusEnum).ADMIN}">
  <form action="#" th:action="@{/transactions/new}" method="get">
    <input type="submit" name="update" value="New Transaction" class="btn-outline-success"/>
  </form>
</div>

<br/>

</body>
</html>