<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Card</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover, .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<div th:replace="navbar-customer"></div>

<body style="background-color: #fcfcfc; text-align: center">

<h2>Create New Transaction</h2>

<p th:text="${msg}" style=""></p>


<form action="#" th:action="@{/transactions/new}" th:object="${transactionDto}" method="post">


    <label th:text="#{transaction.label.recipient}">Recipient username</label>
    <br/>
    <input type="text" th:field="*{username}"/>
    <br>
    <label class="error" th:errors="*{username}">Recipient error placeholder</label>
    <!--  <label    th:if="${#fields.hasErrors('username')}" th:class="${#fields.hasErrors('username')}? error"></label>-->

    <br/><br/>

    <label th:text="#{transaction.label.amount}">Amount</label>
    <br/>
    <input type="text" th:field="*{transferSum}"/>
    <br>
    <label class="error" th:errors="*{transferSum}">Transfer sum error placeholder</label>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>
            <i style="-moz-animation-fill-mode: forwards"
               th:text="#{modal.confirmation.message}">
            </i>
            </div>
            <br/>
            <center>
                <input type="submit" value="Proceed"/>
            </center>
            <!--            </form>-->

        </div>

    </div>

</form>
</br>

<!-- Trigger/Open The Modal -->
<div align="center">
    <button id="myBtn" type="submit" class="btn-outline-success" >Create Transaction</button>
    <br/> <br/>
</div>


<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

<br/><br/>

<br/><br/>


</body>
</html>