<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Transaction form fragment</title>
</head>

<body>

<form th:fragment="transaction-form" action="#" th:action="@{/transactions/new}"  th:object="${transactionDto}" method="post">



  <label th:text="#{transaction.label.recipient}">Recipient username</label>
  <br/>
  <input type="text" th:field="*{username}"/>
  <br>
  <label class="error" th:errors="*{username}">Recipient error placeholder</label>


  <br/><br/>

  <label th:text="#{transaction.label.amount}">Amount</label>
  <br/>
  <input type="text" th:field="*{transferSum}"/>
  <br>
  <label class="error" th:errors="*{transferSum}">Transfer sum error placeholder</label>

  <input type="submit" value="Proceed"  class="btn-outline-success"/>

</form>

</body>

</html>