<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title> Oops, something went wrong! </title>
  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-customer"></div>
<body style="background-color: #fcfcfc; text-align: center">

<br/><br/>

<h3 style="color: red" th:align="center">Oops, something went wrong... Please try again!</h3>

<br/>

<div id="img">
  <img th:src="@{https://micronations.wiki/images/7/7a/Oops%21_Logo.png}"/>
</div>

<a>
  <div href="Go back " th:href="@{//wallets/customer-wallet}"></div>
</a>

</body>
</html>