<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer</title>
  <title th:text="${customer.getUsername()}">Username</title>
  <title th:text="${customer.getEmail()}">Email</title>

  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>

</head>

<div th:replace="navbar-admin"></div>
<body style="background-color: #fcfcfc; text-align: center">

<div id="img" >
  <img th:src="${user.getPhotoUrl()}" width="500" height="400">
</div>

<br/><br/>

<table class="c">
  <tr>
    <td>ID :</td>
    <td th:text="${customer.getUserID()}">"</td>
  </tr>
  <tr>
    <td>Username :</td>
    <td th:text="${customer.getUsername()}">"</td>
  </tr>
  <tr>
    <td>Email :</td>
    <td th:text="${customer.getEmail()}">"</td>
  </tr>
  <tr>
    <td>Phone Number :</td>
    <td th:text="${customer.getPhoneNumber()}">"</td>
  </tr>
    <tr>
      <td>Status :</td>
      <td th:text="${customer.getUserStatus()}">"</td>
    </tr>
    <tr>
      <td>Verification :</td>
      <td th:text="${customer.getVerificationType()}">"</td>
    </tr>


</table>
<br>

<form >

    <input type="submit" name="update" value="Update" th:formaction="@{/users/{id}/update(id=${user.getUserID()})}" class="btn-outline-success"/>

</form>

<br/>


</body>
</html>