<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>User form fragment</title>
  <title> </title>
</head>

<body>

<form th:fragment="user-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${userUpdateDto}" method="post">

  <label class="text-white" th:text="#{user.label.email}">Email</label>
  <br/>
  <input type="text" th:field="*{email}"/>
  <br/>
  <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error placeholder</label>
  <br/><br/>

  <label class="text-white" th:text="#{user.label.phone}">Phone number</label>
  <br/>
  <input type="text" th:field="*{phoneNumber}"/>
  <br/>
  <label class="error" th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="*{phoneNumber}">Phone number error placeholder</label>
  <br/><br/>

  <label class="text-white" th:text="#{user.label.status}">Status</label>
  <br/>
  <input type="text" th:field="*{userStatus}"/>
  <br/>
  <label class="error" th:if="${#fields.hasErrors('userStatus')}"  th:errors="*{userStatus}">Status error placeholder</label>
  <br/><br/>

  <button type="submit" class="btn btn-success">Update</button>

  <br/><br/>
  <br/><br/>

</form>

</body>

</html>