<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Wallets</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/datatables.css}" rel="stylesheet"/>
    <!--    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap/5.1.2/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <!--    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>-->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.19/css/jquery.datatables.min.css}">
    <script th:src="@{https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>

</head>


<body style="background-color: #fcfcfc; text-align: center">


<div th:replace="navbar-admin"></div>


<div th:if="${allWallets.isEmpty()}">
    <h2 th:text="#{wallets.title.empty}">No Wallets</h2>
</div>
<div th:unless="${allWallets.isEmpty()}">
    <h2 th:text="#{wallets.title}">All Wallets</h2>
</div>

<br/><br/>

<table id="dt-filter-search" class="table" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm" th:text="#{wallet.label.walletID}">
        </th>
        <th class="th-sm" th:text="#{wallet.label.userID}">
        </th>
        <th class="th-sm" th:text="#{wallet.label.amount}">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wallet : ${allWallets}">
        <td class="cell">
            <a href="#" th:href="@{/wallets/{id}(id=${wallet.getWalletID()})}" th:text="${wallet.getWalletID()}">Wallet
                #</a>
        </td>
        <td class="cell" th:text="${wallet.getUser().getUserID()}"></td>
        <td class="cell" th:text="${#numbers.formatCurrency(wallet.getTotalAmount())}"></td>
    </tr>
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#dt-filter-search').dataTable({

            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
                        .appendTo($(column.footer()).empty())
                        .on('change input', function () {
                            var val = $(this).val()

                            column
                                .search(val ? val : '', true, false)
                                .draw();
                        });

                });
            }
        });
    });
</script>
<br/>

</body>


</html>