<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Wallet</title>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" rel="stylesheet"/>
</head>

<div th:replace="navbar-admin"></div>


<body style="background-color: #fcfcfc; text-align: center">

<div id="img">
    <img th:src="@{https://static.wixstatic.com/media/1a61b7_bd7a35c5b6a24f499ffa54a29f604129~mv2.png/v1/fill/w_1024,h_600,al_c,q_90,usm_0.66_1.00_0.01/ewallet.webp}"/>
</div>

<br/><br/>

<form action="#" th:action="@{/wallets/{id}/update(id=${displayWalletDto.getWalletID()})}" method="post">

    <table class="c">

        <tr>
            <td>Wallet ID :</td>
            <td th:text="${displayWalletDto.getWalletID()}">"</td>
        </tr>

        <tr>
            <td>User ID :</td>
            <td th:text="${displayWalletDto.getUserID()}">"</td>
        </tr>

        <tr>
            <td>Current Amount :</td>
            <td th:text="${#numbers.formatCurrency(displayWalletDto.getAmount())}"></td>
        </tr>

    </table>

    <br/>

</form>

<br/><br/>

</body>
</html>